/*
 * detail/详情页
*/
.info-list {
  /deep/
  .el-form-item {
    margin-bottom: 10px !important;
    .el-form-item__content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
