@charset "utf-8";

/* -- 全局reset
------------------------------------------- */

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
object,
code,
legend,
button,
input,
textarea,
label,
th,
td,
a,
img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  border: 0;
  outline: 0;
}

html {
  font-size: 14px;
}

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  color: #333;
  font: 14px/1.5 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
  background-color: #f5f5f5;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; /* 抗锯齿 */ //隐藏navbar的时候windows滚动条bug
}

/* 清除内外边距 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

/* 设置默认字体 */
:focus {
  outline: 0;
}

ul,
ol,
li {
  list-style: none;
}

/* 重置列表 */
fieldset,
img {
  vertical-align: top;
  border: 0 none;
}

/* 重置图片元素 */

address,
caption,
cite,
code,
dfn,
em,
i,
th,
var,
optgroup {
  font-weight: normal;
  font-style: normal;
}

abbr,
acronym {
  font-variant: normal;
  border: 0;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  font-style: inherit;
}

code,
kbd,
samp,
tt {
  font-size: 100%;
}

input,
button,
textarea,
select {
  *font-size: 100%;
  outline: none;
  -webkit-appearance: none;
}

textarea {
  resize: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 重置表格 */
blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* --清除浮动
------------------------------------------- */

.cf::after,
.cf::before {
  display: table;
  content: ' ';
}

.cf::after {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/* --字号、颜色、外边距、内补丁、居中、行高、显示、隐藏
------------------------------------------------------------------------------------------ */

.f10 {
  font-size: 12px;
  -webkit-transform-origin-x: 0;
  -webkit-transform: scale(0.84);
}

.c-333 {
  color: #333;
}

.c-666 {
  color: #666;
}

.c-999 {
  color: #999;
}

.c-primary {
  @include font_color('main-color');
}

.c-warning {
  color: #ffb600;
}

.c-danger {
  color: #e1251b;
}

.c-success {
  color: #26a872;
}

/* 隐藏 居中 */
.fb {
  font-weight: 600;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.ti {
  overflow: hidden;
  font-size: 0;
  text-indent: -9999em;
}

.te {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.te2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.te3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.te4 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.ico {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  background-repeat: no-repeat;
  -webkit-background-size: contain !important;
  background-size: contain !important;
}

.rel {
  position: relative;
}

/* 垂直居中 */
.vertical-mode {
  -webkit-writing-mode: vertical-rl;
  writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.dlk-inline {
  display: inline-block;
}

.vh-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.v-center {
  position: absolute;
  top: 50%;
  left: 0;
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.h-center {
  position: absolute;
  top: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* 去掉搜索框的自带样式，包括边框，搜索和删除按钮 */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

input[type='search'] {
  -webkit-appearance: none;
}

/* ----------------------------------------------------------------
       fbox：定义布局为盒模型
       flex：子元素占据剩余的空间

       hbox：  盒模型--水平布局 不折行
       whbox： 盒模型--水平布局 且折行
       vhbox： 盒模型--垂直布局

       vbox：  子元素--水平居中
       cbox：  子元素--垂直居中
       cwbox： 子元素--水平垂直居中(左右 多元素居中)
       vcbox： 子元素--垂直水平居中(上下 多元素居中)

       jbox：  子元素--两端对齐
       jcbox： 子元素--垂直居中且两端对齐
       jwcbox：子元素--垂直居中且两端对齐 且折行 最后一行两端对齐
       jlcbox：子元素--垂直居中且两端对齐 且折行 最后一行居左对齐
       ---------------------------------------------------------------- */

/* 定义盒模型 */
.fbox,
.hbox,
.whbox,
.vhbox,
.vbox,
.cbox,
.cwbox,
.vcbox,
.jbox,
.jcbox,
.jwcbox,
.jlcbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* 撑满剩余空间 */
.flex {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* 水平排列 */
.hbox,
.whbox {
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -webkit-box-align: stretch;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: stretch; /* 未定义高度撑满 */
}

/* 水平折行排列 */
.whbox,
.jwcbox,
.jlcbox {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* 垂直排列 */
.vhbox,
.vcbox {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: stretch; /* 未定义高度撑满 */
}

/* 水平居中 */
.vbox,
.cwbox,
.vcbox {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* 垂直居中 */
.cbox,
.cwbox,
.vcbox,
.jcbox {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* 水平垂直居中 (注:水平居中和垂直居中之和(--多行水平居中排列--)的结合体) */
.cwbox {
}

/* 水平垂直居中 (注:水平居中和垂直居中之和(--多行垂直排列--)的结合体) */
.vcbox {
}

/* 两端对齐 */
.jbox,
.jcbox,
.jwcbox,
.jlcbox {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* 居中两端对齐 单行居中对齐  (注:垂直居中和两端对齐的结合体) */
.jcbox {
}

/* 两端对齐 且折行  最后一行也两端对齐  (注:水平折行排列和两端对齐的结合体) */
.jwcbox {
}

/* 两端对齐 且折行  最后一行左对齐  (注:水平折行排列和两端对齐的结合体) */
.jlcbox {
}

.jlcbox::after {
  flex: auto;
  content: '';
}

svg,
img {
  display: inline !important;
  vertical-align: middle;
}
