// 主色、导航和侧边栏颜色
$mainColorRed: #e1251b;
$mainColor: #3285f6;
$menuColorRed: $mainColorRed;
$menuColor: $mainColor;
$menuTitle: #b5b5b5;
$menuText: #666;
$subMenuBg: #fff;
$sideBarWidth: 200px;
$sideBarMiniWidth: 54px;
$logoHeight: 30px;
$navHeight: 60px;
